body{
    background-image: url("media/pokemon_wallpaper___pikachu_by_kennedyzak-d5vb6hq.png");
    background-repeat: no-repeat;
    font-family: Arial sans-serif;
    background-size: 100%;
    line-height: 120%;
}

header h1{
    font-size: 7rem;
    font-weight: bold;
    padding-top: 60px;
    color: red;
}

main {
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 50%;
    background-color: white;
    opacity: 0.8;
    font-weight: bold;
    display: inline-block;
}

header {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h4 {
    font-size: 4rem;
    font-weight: bold;
    padding-top: 60px;
}

img {
    display: inline-block;
    margin-top: 20px;
    margin-left: 90px;
}

form {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 40px;
}

nav {
    padding-top: 30px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}

.evolution {
    padding-top: 15px;
}

input[type=text] {
    width: 200px;
    height: 20px;
    color: red;
}